---
dependency:
  name: galaxy
driver:
  name: docker
lint:
  name: yamllint
platforms:
  - name: ubuntu1804
    image: ubuntu:18.04
provisioner:
  name: ansible
  lint:
    name: ansible-lint
    options:
      x: ["305", "503"]
verifier:
  name: testinfra
  lint:
    name: flake8
